.build/
.classpath
.cxx
.DS_Store
.externalNativeBuild
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vscode/
*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
bin/
build/
captures/
Carthage/
gradlew.bat
local.properties
local.properties*.iml
Pods/
target/
xcuserdata
